@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto+Slab:wght@700&display=swap");

:root {
  --font-family-body: "Open Sans", sans-serif;
  --font-family-heading: "Roboto Slab", serif;
  --color-text-dark: #000000;
  --color-text-medium: #595959;
  --color-text-light: #a8a8a8;
  --color-bg: #ffffff;
}

body {
  font-size: 13px;
  color: var(--color-text-dark);
  max-width: 8.5in;
  font-family: var(--font-family-body);
  padding: 0.5in;
  line-height: 1.28em;
  background-color: var(--color-bg);
  margin: auto;
}

a {
  color: inherit;
}

i, em {
  font-style: italic;
}

::selection {
  background-color: var(--color-text-medium);
  color: var(--color-bg);
}

header {
  text-align: center;
}

.name {
  font-family: var(--font-family-heading);
  font-weight: bold;
  font-size: 1.35rem;
  letter-spacing: 0.075em;
  text-transform: uppercase;
}

.contact-info {
  color: var(--color-text-medium);
  margin-top: 0.5rem;
}

.contact-info > ul > li {
  display: inline-block;
}

.contact-info > ul > li:not(:first-child)::before {
  content: " • ";
  margin: 0 0.25em;
}

.category {
  margin-top: 0.75rem;
}

.category-name {
  font-family: var(--font-family-heading);
  font-weight: bold;
  font-size: 1.15rem;
  text-transform: uppercase;
}

.item {
  margin-top: 0.5rem;
}

.item-name {
  font-family: var(--font-family-heading);
  font-weight: bold;
  font-size: 0.85rem; /* roboto is naturally larger than open sans, so have to make it smaller to compensate. */
  margin-top: 0;
}

.item-location,
.role-dates {
  float: right;
  color: var(--color-text-light);
}

.item-description {
  margin-top: 0.125rem;
  color: var(--color-text-medium);
  padding-left: 0.5rem;
}

.role {
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

.role-name {
  font-style: italic;
  font-weight: normal;
}

.role-responsibilities {
  list-style: disc;
  padding-left: 1.5rem;
}

.role-responsibilities > li {
  margin-top: 0.25rem;
}

.edu-role {
  margin-top: 0.125rem;
}

.gpa {
  font-style: normal;
}


@media only print {
  a {
    text-decoration: none;
  }
}
